<div class="relative">
    <div *ngFor="let category of categories">
      <h2 class="text-white text-2xl font-extra-extrabold uppercase text-center mb-2" [ngClass]="{'bg-clip-text text-transparent bg-gradient-to-r from-red-950 via-white to-blue-950 animate-pulse': load}" id="{{category}}">{{category}}</h2>
      
      <div *ngFor="let product of products[category]; let i = index" class="product_cart relative grid grid-cols-3 grid-rows-3 rounded-md border-2 border-first-300 mb-5 p-1 px-2 h-52 text-first-50 bg-first-600/70">
          <div class="w-full col-span-2 row-span-2 gap-3">
            <h3 class="text-lg font-bold uppercase text-white">{{ product.name }}</h3>
            <p class="capitalize">{{ product.description }}</p>
            <div class="grid grid-cols-2 gap-2 font-semibold">
              <div >
                <h4>Valor</h4>
                <p>{{ product.price | currency: '$ ' }}</p>
              </div>
            </div>   
          </div>
          <!--IMG-->
          <button (click)="OpenImg(product)" id="productImg" class="row-span-2 w-full">
            <fa-icon [icon]="faHandPointer" *ngIf="!isOpen(product)" class="text-white border border-first-900/40 rounded-full w-6 bg-first-900/10 absolute top-2 right-3"></fa-icon>
            <fa-icon [icon]="faClose" *ngIf="isOpen(product)" class="text-white border border-first-900/40 rounded-full w-6 bg-first-900/10 absolute z-20 bottom-2 right-3"></fa-icon>
            <img *ngIf="!isOpen(product)" class="h-full w-full mx-auto rounded-md rounded-l-none" alt="Foto de {{ product.name }}" src="{{ product.imageMd! }}">
            <img *ngIf="isOpen(product)" class="h-[98%] w-[99%] absolute z-10 rounded-md top-1 left-[0.15rem]" alt="Foto de {{ product.name }}" src="{{ product.imageLg! }}" >
          </button>
          <div class="col-span-3 py-2 relative">
            <!--Order -->
            <button (click)="togglePurchase(product); product.quantity = 1" class="rounded-md border-2 border-first-900 bg-first-300 w-14 h-10 absolute top-4 right-2">
              <fa-icon [icon]="faShoppingBasket" class="text-2xl mx-auto text-first-50"></fa-icon>
            </button>
            <form *ngIf="open === product.name" class="w-full justify-between px-10 py-2 flex bg-first-300/70 rounded z-50 relative -translate-y-6">
              <button (click)="closePurchase()" class="absolute top-1 right-2 rounded-full border border-first-800 px-[5px] font-bold"><fa-icon [icon]="faClose"></fa-icon></button>
              <swal #addedToCart title="{{ product.name }} añadido a tu orden." [swalOptions]="{ toast: true, position: 'top-end', showConfirmButton: false, timer: 3000, timerProgressBar: true }" icon="info"></swal>
              <button (click)=" addTCart(i, product)" class="absolute bottom-2 right-2 rounded-full border border-first-800 px-1 font-bold" [swal]="addedToCart" ><fa-icon [icon]="faCheck"></fa-icon></button>
  
              <div >
                <!-- SELECT #1-->
                <div class="/hidden flex w-32 h-8 z-40 border-2 text-first-950 border-first-400/50 rounded-md hover:border-3 hover:border-first-600 relative mb-2">
                  <!-- Select Box-->
                  <div (click)="OpenCategoryOptions()" class="h-8 overflow-hidden w-full flex justify-between items-center bg-white pl-4 rounded hover:border-2 hover:border-first-500 cursor-pointer capitalize">
                      <p class="whitespace-nowrap text-xs ">{{ selectedValue }}</p>
                      <button class="w-8 h-8  border border-first-50 text-first-950 hover:bg-white active:bg-first-500 rounded-e active:text-first-50">
                          <fa-icon [icon]="faAngleDown"></fa-icon>
                      </button>
                  </div>
                  <!-- Select Options -->
                  <div id="businessOptions" class="absolute z-40 rounded-md bg-first-50 w-full h-auto hidden">
                      <ul class="w-full h-full rounded-b-md">
                          <li class="w-full h-8 cursor-pointer flex items-center pl-3 hover:bg-first-600 hover:text-white capitalize text-xs" (click)="handleStatusAnchorClick('Adicionales')" >Adicionales</li>
                          <li class="w-full h-8 cursor-pointer flex items-center pl-3 hover:bg-first-600 hover:text-white capitalize text-xs" (click)="handleStatusAnchorClick(serving)" *ngFor="let serving of servings">{{ serving }}</li>
                      </ul>
                      <input id="Status" type="hidden" [(ngModel)]="selectedValue" name="adicionales" value="{{selectedValue}}">
                  </div>
                </div>
    
                <p (click)="comment = true" *ngIf="product.comment" class="w-32 h-10 px-2 py-1 text-xs overflow-hidden break-words whitespace-pre-wrap border-2 flex bg-first-100 text-first-950 border-first-400/50 rounded-md hover:border-3 hover:border-first-600">{{ product.comment }}</p>
              </div>
              <div >
                <div class="w-32 h-10 border-2 flex border-first-400/50 rounded-md mb-2 hover:border-3 hover:border-first-600">
                  <button (click)="removeQuantity(i, product)" class="w-8 rounded-md rounded-r-none bg-first-500/50">
                    -
                  </button>
                  <span class="w-16 leading-10 bg-first-100 text-first-950 text-center">{{ product.quantity }}</span>
                  <input type="hidden" [(ngModel)]="product.quantity" name="quantity">
                  <button (click)="addQuantity(product)" class="rounded-md rounded-l-none bg-first-500/50 w-8">
                    +
                  </button>
                </div>
                <div>
                  <button (click)="comment = true" *ngIf="!comment" class="w-32 h-10 border-2 flex justify-center items-center bg-first-500/30 hover:bg-first-400/20 border-first-500/50 rounded-md hover:border-3 hover:border-first-600">
                    <strong class="text-sm mr-1">Comentarios</strong> <fa-icon [icon]="faPenToSquare"></fa-icon>
                  </button>
                  <div class="absolute z-50 top-1 left-1 w-full flex">
                    <textarea *ngIf="comment" [(ngModel)]="commentValue" (ngModelChange)="commentValue" type="text" name="comments" id="" rows="2" class="w-full p-1 text-first-950 rounded-s" autofocus >Has tu comentario aqui...</textarea>
                    <div *ngIf="comment">
                      <button (click)="comment = false; commentValue = ''" class="w-10 h-6 bg-first-500/80 border-b rounded-tr border-first-300">x</button>
                      <button (click)="comment = false; product.comment = commentValue; commentValue = ''" class="w-10 h-8 bg-first-500/80 rounded-br"><fa-icon [icon]="faCheck"></fa-icon></button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          
        </div>
        <div *ngIf="load === true" class="w-full h-[28rem] flex justify-center items-center gap-2">
          <div class=""><h2 class="animate-pulse font-extrabold text-xl">Cargando productos</h2></div><div class="w-8 h-8 rounded-full bg-gradient-to-r from-black via-slate-500 to-white p-[2px] animate-spin"><div class="w-full h-full bg-first-500 rounded-full"></div></div>
        </div>  
    </div>
  </div>