<nav class="sticky top-0 z-50 bg-first-300/50 w-full mb-2">
  <h1 class="font-bold uppercase px-4 text-xl text-second-50 absolute top-4">{{actualPage}}</h1>
  <button (click)="openMenu()" class="w-14 h-14 z-50 relative ml-[229px] my-1 rounded-full p-1 bg-[#ffde59]/20 active:rotate-90 active:transition group opacity-20 animate-pulse hover:opacity-100 hover:animate-none">
    <span class="w-full h-full block border border-[#ffde59] bg-black/50 text-white text-lg font-bold text-center py-2 rounded-full group-hover:text-[#ffde59] group-hover:font-extrabold">
      <fa-icon [icon]="faBars" class="group-hover:hidden" *ngIf="!isOpen"></fa-icon>
      <fa-icon [icon]="faBarsStaggered" class="hidden group-hover:block" *ngIf="!isOpen"></fa-icon>
      <fa-icon [icon]="faXmark" class="text-xl" *ngIf="isOpen"></fa-icon>
    </span>
  </button>
  <div *ngIf="isOpen" >
    <button [ngClass]="{'font-bold !text-white !bg-second-950 border border-first-50': actualPage === 'Nuevo Producto'}" (click)="actualPage = 'Nuevo Producto'; isOpen = false" class="w-full h-14 text-center uppercase bg-first-950/80 font-semibold text-second-50 rounded-t border-b border-first-300"> Nuevo Producto</button>   
    <button [ngClass]="{'font-bold !text-white !bg-second-950 border border-first-50': actualPage === 'Administrar Productos'}" (click)="actualPage = 'Administrar Productos'; isOpen = false" class="w-full h-14 text-center uppercase bg-first-950/80 font-semibold text-second-50 border-b border-first-300">Administrar Productos</button>
    <button [ngClass]="{'font-bold !text-white !bg-second-950 border border-first-50': actualPage === 'Administrar Promos'}" (click)="actualPage = 'Administrar Promos'; isOpen = false" class="w-full h-14 text-center uppercase bg-first-950/80 font-semibold text-second-50 border-b border-first-300">Administrar Promos</button>
    <button [ngClass]="{'font-bold !text-white !bg-second-950 border border-first-50': actualPage === 'Disponibilidad'}" (click)="actualPage = 'Disponibilidad'; isOpen = false" class="w-full h-14 text-center uppercase bg-first-950/80 font-semibold text-second-50 border-b border-first-300">Disponibles</button>
    <button [ngClass]="{'font-bold !text-white !bg-second-950 border border-first-50': actualPage === 'Reseñas'}" (click)="actualPage = 'Reseñas'; isOpen = false" class="w-full h-14 text-center uppercase bg-first-950/80 font-semibold text-second-50 border-b border-first-300">Reseñas</button>
    <a href=" " class="w-full h-14 block text-center uppercase bg-first-950/80 leading-[3.5rem] font-semibold text-second-50"> Volver a la vista de usario</a>
  </div>
</nav>
<app-upload *ngIf="actualPage === 'Nuevo Producto'"></app-upload>
<app-manage-products *ngIf="actualPage === 'Administrar Productos'"></app-manage-products>
<section *ngIf="actualPage === 'Disponibilidad'">
  <div class="w-5/6 h-16 bg-second-900 border border-first-100  flex text-white justify-between items-center mx-auto px-2.5 rounded-t-md font-bold uppercase mb-2">
    <p class="w-4/6">Producto</p>
    <div class="w-2/6">
      Disponible
    </div>
  </div>
  <div class="w-5/6 h-14 bg-second-900 border border-first-200 flex justify-between items-center mx-auto px-2 rounded-b-md font-semibold capitalize border-b-first-800/70 mb-2 hover:shadow hover:shadow-first-50" *ngFor="let product of products">
    <p class="w-4/6 text-first-300" [ngClass]="{'font-light text-first-50': !product.avalaible}">{{ product.name }}</p>
    <div class="w-2/6">
      <label class="relative inline-flex cursor-pointer items-center">
        <input id="switch" type="checkbox" name="highlighted" [(ngModel)]="product.avalaible" class="peer sr-only" (change)="updateProduct(product.name!, product.avalaible)"/>
        <label for="switch" class="hidden"></label>
        <div class="peer text-sm font-semibold h-10 w-[4.90rem] rounded-full border bg-zinc-400 after:absolute after:left-[2px] after:top-0.5 after:h-9 after:w-[2.30rem] after:rounded-full after:px-2 peer-checked:after:px-3 after:py-[0.37rem] after:border after:border-gray-300 after:bg-white after:transition-all after:content-['No'] peer-checked:after:content-['Si'] peer-checked:bg-first-900 peer-checked:after:translate-x-full peer-checked:after:border-white"></div>
      </label>
    </div>
  </div>
  <div *ngIf="load === true" class="w-full h-[28rem] flex justify-center items-center gap-2">
    <div class=""><h2 class="animate-pulse text-first-50 font-extrabold text-xl">Cargando productos</h2></div><div class="w-8 h-8 rounded-full bg-gradient-to-r from-black via-slate-500 to-white p-[2px] animate-spin"><div class="w-full h-full bg-second-900 rounded-full"></div></div>
  </div>  
</section>
<app-reviews *ngIf="actualPage === 'Reseñas'"></app-reviews>
<app-promos *ngIf="actualPage === 'Administrar Promos'"></app-promos>