<nav class="w-full mb-2">
  <button [ngClass]="{'font-bold text-white bg-first-950': actualPage === 'add'}" (click)="actualPage = 'add'" class="w-full h-14 text-center uppercase font-semibold bg-first-900 text-first-100 rounded-t"> Nuevo Producto</button>   
  <button [ngClass]="{'font-bold text-white bg-first-950': actualPage === 'manage'}" (click)="actualPage = 'manage'" class="w-full h-14 text-center uppercase font-semibold bg-first-900 text-first-100 border-y border-yellow-500/80">Administrar Productos</button>
  <button [ngClass]="{'font-bold text-white bg-first-950': actualPage === 'avalaibles'}" (click)="actualPage = 'avalaibles'" class="w-full h-14 text-center uppercase font-semibold bg-first-900 text-first-100">Disponibles</button>
</nav>
<app-upload *ngIf="actualPage === 'add'"></app-upload>
<app-manage-products *ngIf="actualPage === 'manage'"></app-manage-products>
<section *ngIf="actualPage === 'avalaibles'">
  <div class="w-5/6 h-16 bg-first-900 flex text-white justify-between items-center mx-auto px-2.5 rounded-t-md font-bold uppercase mb-2">
    <p class="w-4/6">Producto</p>
    <div class="w-2/6">
      Disponible
    </div>
  </div>
  <div class="w-5/6 h-14 bg-first-900 flex justify-between items-center mx-auto px-2 rounded-b-md font-semibold capitalize border-b border-first-800/50 mb-2" *ngFor="let product of products">
    <p class="w-4/6" [ngClass]="{'font-light text-gray-700': !product.avalaible}">{{ product.name }}</p>
    <div class="w-2/6">
      <label class="relative inline-flex cursor-pointer items-center">
        <input id="switch" type="checkbox" name="highlighted" [(ngModel)]="product.avalaible" class="peer sr-only" (change)="updateProduct(product.name!, product.avalaible)"/>
        <label for="switch" class="hidden"></label>
        <div class="peer text-sm font-semibold h-10 w-[4.90rem] rounded-full border bg-zinc-400 after:absolute after:left-[2px] after:top-0.5 after:h-9 after:w-[2.30rem] after:rounded-full after:px-2 peer-checked:after:px-3 after:py-[0.37rem] after:border after:border-gray-300 after:bg-white after:transition-all after:content-['No'] peer-checked:after:content-['Si'] peer-checked:bg-first-900 peer-checked:after:translate-x-full peer-checked:after:border-white"></div>
      </label>
    </div>
  </div>
  <div *ngIf="load === true" class="w-full h-[28rem] flex justify-center items-center gap-2">
    <div class=""><h2 class="animate-pulse font-extrabold text-xl">Cargando productos</h2></div><div class="w-8 h-8 rounded-full bg-gradient-to-r from-black via-slate-500 to-white p-[2px] animate-spin"><div class="w-full h-full bg-first-900 rounded-full"></div></div>
  </div>  
</section>